@import '_reset.scss';
@import '_variables.scss';
// @import '_imports.scss';
// @import '_animations.scss';

.app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    min-width: $min-app-width;
    user-select: none;

    .notifications-container {
        position: fixed;
    }

    ::-webkit-scrollbar {
        width: 5px;
      }
      
    /* Track */
    ::-webkit-scrollbar-track {
        background: $color-light;
    }
    
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $color-brand;
    }
}